.myfooter {
  z-index: 100;
  background-color: bisque;
  box-sizing: border-box;
  padding: 0px 14px;
  position: fixed;
  height: 80px;
  bottom: 0;
}

.myfooter nav ul {
  list-style: none;
  display: flex;
}

.myfooter nav ul li {
  width: 20vw;
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

