.cartListCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.cartListCard img {
  width: 30%;
  height: auto;
}

.info {
  width: 40vw;
}

.qtyHandler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}