.starBtn {
  margin: auto;
}
.starBtn a{
  width: 36%;
  text-decoration: none;
  line-height: 10vw;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 20px;  
  transition: 0.5s;
}

.starBtn a:hover{
  background-color: #046241;
  color: #fff;
  transition: 0.5s;
}

.big a {
  width: 60%;
  font-size: 3.5rem;
}

.sbGreen a{
  color: #046241;
  border-color: #046241;
  border: 2px solid #046241;
}

.sbWhite a{
  color: #fff;
  border-color: #fff;
  border: 2px solid #fff;
}